<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<form #formulaire="ngForm">
  <label for="name">Name</label>
  <input required type="text" id="name" class="form-control" ngModel name="name">

  <label for="firstName">First Name</label>
  <input type="text" id="firstName" class="form-control" ngModel name="firstName">

  <label for="job">Job</label>
  <input type="text" id="job" class="form-control" ngModel name="job">

  <label for="age">Age</label>
  <input type="number" id="age" class="form-control" ngModel name="age">

  <label for="cin">CIN</label>
  <input type="number" id="cin" class="form-control" ngModel name="cin">

  <label for="path">Path</label>
  <input type="text"  id="path" class="form-control" ngModel name="path">

  <button [disabled]="formulaire.invalid" class="btn btn-primary" (click)="addPersonne(formulaire)">Envoyer</button>
</form>
