<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CvTech</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="visibility = !visibility"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]= "{'show': visibility}" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cv']" routerLinkActive="active">CV <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['style']" routerLinkActive="active">Style</a>
      </li>
      <li *ngIf="isLogged()" class="nav-item">
        <a class="nav-link" [routerLink]="['cv/add']" routerLinkActive="active">Ajouter</a>
      </li>
      <li *ngIf="!isLogged()" class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="isLogged()" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
