<router-outlet></router-outlet>
<div class="row">
  <div class="col-md-6 col-sm-9">
    <app-list-cv  (selectPersonne)="onSelectPersonne($event)" [personnes]="personnes"></app-list-cv>
  </div>
  <div class="col-md-6 col-sm-9">
    <app-detail-cv
      *ngIf="selectedPersonne"
      [personne]="selectedPersonne">
    </app-detail-cv>
  </div>
</div>

<div class="row">
  <app-embauche></app-embauche>
</div>
