<div *ngIf="personnes">
  <span *ngFor="let personne of personnes">
    <img src="assets/images/{{personne.path | defaultImage}}"
    width="150px" height="150px"
    alt="{{personne.firstName}}"
    class="rounded-circle"
    />{{personne.firstName | titlecase}} {{personne.name | titlecase}}
  </span>
</div>
