<p
  [ngStyle] = "{
    'color' : color,
    'backgroundColor' : bgColor,
    'font-size' :size
  }"
>style works!</p>

<input type="text" class="form-control" [(ngModel)]="color">

<input
 #sizeInput
 type="number"
 class="form-control"
 (change) ="changeSize(sizeInput.value)"
 >

 <a (click)="goToCv()">Go to CV</a>
