<form #loginForm="ngForm" >
  <label for="email">Email</label>
  <input
  email required
  id="email"
  ngModel name="email"
  type="text"
  class="form-control">

  <label for="email">Password</label>
  <input
  required
  minlength="1"
  id="password"
  ngModel name="password"
  #pwdInput="ngModel"
  type="password"
  class="form-control">
  <div *ngIf="pwdInput.invalid && pwdInput.touched" class="alert alert-danger">Mot de passe avec minimum 3</div>
  <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="login(loginForm.value)">Se connecter</button>

</form>
