<form #formulaire="ngForm" *ngIf="personne">
  <label for="name">Name</label>
  <input required type="text" id="name" class="form-control" [(ngModel)]="personne.name" name="name">

  <label for="firstName">First Name</label>
  <input type="text" id="firstName" class="form-control" [(ngModel)]="personne.firstName" name="firstName">

  <label for="job">Job</label>
  <input type="text" id="job" class="form-control" [(ngModel)]="personne.job" name="job">

  <label for="age">Age</label>
  <input type="number" id="age" class="form-control" [(ngModel)]="personne.age" name="age">

  <label for="cin">CIN</label>
  <input type="number" id="cin" class="form-control" [(ngModel)]="personne.cin" name="cin">

  <label for="path">Path</label>
  <input type="text"  id="path" class="form-control" [(ngModel)]="personne.path" name="path">

  <button [disabled]="formulaire.invalid" class="btn btn-primary" (click)="updatePersonne(formulaire)">Envoyer</button>
</form>
