<!-- <app-cv></app-cv> -->
<app-header></app-header>
<!-- <app-http></app-http> -->
<app-obs></app-obs>
<app-search></app-search>
<router-outlet></router-outlet>
<!-- <app-style
[color]="'yellow'"
[bgColor]="'red'"
></app-style> -->
<!-- <app-class></app-class> -->
