<input
  type="text"
  [(ngModel)] = "chaine"
  (keyup)=search()
  class="form-control">

<ol>
  <li
  *ngFor="let personne of searchResult"
  class="list-group-item"
  (click)="onSelectPersonne(personne)"
  >
    <img src="assets/images/{{personne.path | defaultImage}}"
      width="25px" height="25px"
      alt="{{personne.firstName}}"

      />{{personne.firstName | titlecase}} {{personne.name | titlecase}}
  </li>
</ol>
